<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 id='title'>Tasting Game</h2>
    </div>
  </div>

  {{outlet}}


  <div class="row">
    <div class="col-sm-12">
    <p>{{#link-to 'games' class="btn btn-primary"}}Home{{/link-to}}</p>
    </div>
  </div>
</div>
